services:
  web:
    image: eldordevops/flask-devops-template:latest
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://flask_user:flask_pass@db:5432/flask_db
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: flask_user
      POSTGRES_PASSWORD: flask_pass
      POSTGRES_DB: flask_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ../monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app_network

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3000:3000"
    networks:
      - app_network

volumes:
  pgdata:

networks:
  app_network:
